apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # The ACME server URL for Let's Encrypt production
    server: https://acme-v02.api.letsencrypt.org/directory
    # Your email address for Let's Encrypt notifications
    email: baggahamza099@gmail.com # Replace with your email
    privateKeySecretRef:
      # Name of the secret used to store the ACME account private key
      name: letsencrypt-prod
    solvers:
    - http01:
        ingress:
          class: nginx